<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(53, 61, 179);">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/home" *ngIf="_auth.loggedIn()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/signup" *ngIf="!_auth.loggedIn()">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/login" *ngIf="!_auth.loggedIn()">Sign in</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/books" *ngIf="_auth.loggedIn()">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/add-book" *ngIf="_auth.loggedIn()&& _auth.getToken() == 'admin'">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/add-author" *ngIf="_auth.loggedIn()&& _auth.getToken() == 'admin'">Add Author</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/logout" *ngIf="_auth.loggedIn()" (click)="_auth.logoutUser()">Log out</a>
                </li>


            </ul>

        </div>
    </div>
</nav>

<h1 *ngIf="_auth.loggedIn()&& _auth.getToken() == 'admin'">Administrator</h1>

<h1 id="welcome">Authors</h1>

<div class="container">
    <div class="row">

        <div class="col-md-12">

            <div class="panel">
                <div class="panel-body">



                    <!--/stories-->

                    <div class="row" *ngFor="let author of authors">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <a class="story-title" href="#"><img alt="" src="{{author.image}} " style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h3>
                                {{author.authorName}}
                            </h3>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h4><span class="label label-default">{{author.bestbookName}}</span></h4>
                                    <h4>
                                        <small style="font-family:courier,'new courier';" class="text-muted">{{author.genre}} • 
                                                <a href=" " class="text-muted">Read More</a></small>
                                    </h4>
                                </div>
                                <div class="col-xs-3"></div>
                                <button type="button" class="btn btn-outline-danger btn-lg margin-right" *ngIf="_auth.loggedIn() && _auth.getToken() == 'admin'" [routerLink]="['/update-author', author._id]">Update</button>

                                <button type=" button " class="btn btn-outline-danger btn-lg " *ngIf="_auth.loggedIn() && _auth.getToken() == 'admin'" (click)="deleteAuthor(author._id)">Delete</button>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <hr>




                    <!--/stories-->


                    <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>


                </div>
            </div>



        </div>
        <!--/col-12-->
    </div>
</div>